<section id="section5" class="black clearfix contactBlack">
	<div class="content dark container">
		<div class="contactFormWrapper">
				<i class="fa fa-envelope-o fa-3x"></i>
				<p class="contactDeets">
					<strong>Band - </strong>  info(at)dead-light(dot)com<br>
					<strong>Label - </strong> mail(at)villagegreen(dot)tv<br/>
					<strong>Press - </strong>  sofia(at)floatpr(dot)com
				</p>
			</a>
		</div>
	</div>
</section>
<!-- End Clients -->