<section id="section5" class="black clearfix contactBlack">
	<div class="content dark container">
		<!-- Title -->
		<div class="title grid-full" id="contactHeader">
			<h2 class="contactTitle">Please get in touch with us</h2>
		</div>
		<div class="contactFormWrapper">
				<i class="fa fa-envelope-o fa-3x"></i>
				<p class="contactDeets"><strong>Label - </strong> mail(at)villagegreen(dot)tv<br/>
					<strong>Press - </strong>  sofia(at)floatpr(dot)com
				</p>
			</a>
		</div>
	</div>
</section>
<!-- End Clients -->