<div class="headline">
</div>
<div class="row">
	<div class="title col-md-12 sans-serif caps medium spacedText2">Dead Light</div>
</div>
<div class="row">
	<div class="col-md-3">&nbsp;</div>
	<div class="col-md-6 sans-serif medium-small spacedText info">
		<strong>'Dead Light'</strong> was created after Anna Rose Carter and Ed Hamilton moved from London to a quiet, remote space in the countryside. The 
		migration out of the sprawling metropolis to their new rural refuge was a transition that significantly impacted them both, and one that continues to 
		turn and shift under the ambivalence of change, loss, and new beginnings.
		<br/><br/>
		The reality of this new setting is an apposition between the serene nature of their new life, and the dislocation from the lives, people, places, and 
		culture that they left behind; two conflicting sentiments that co-exist in a somehow beautiful, bitter-sweet relationship. Dead Light is the tension 
		between these two states, a textured and imperfect dream world.
		<br/><br/>
		<div class="releaseInfo sans-serif small">
			<strong>Release Date - </strong>14.10.2016<br/>
			<strong>Label - </strong><a href="http://villagegreenrecording.co.uk/" target="_blank">Village Green</a><br/><br/>
			<strong>Contact - </strong>Janine(at)villagegreen(dot)tv</a>
		</div>
	</div>
	<div class="col-md-3">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-3">&nbsp;</div>
	<div class="col-md-6 picture">
		<%= image_tag('Cover.jpg', class: 'coverSquare') %>
	</div>
	<div class="col-md-3">&nbsp;</div>
</div>
<div class="footer">
	<div class="title white serif caps medium spacedText icons">
		<i class="fa fa-twitter"></i><i class="fa fa-facebook"></i><i class="fa fa-soundcloud"></i>
	</div>
</div>