<div class="headline">
	<div class="title white serif caps medium spacedText">Dead Light</div>
</div>
<div class="row">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-5 serif medium-small spacedText info">
		<strong>'Dead Light'</strong> was created after Anna Rose Carter and Ed Hamilton moved from London to a quiet, remote space in the countryside. The 
		migration out of the sprawling metropolis to their new rural refuge was a transition that significantly impacted them both, and one that continues to 
		turn and shift under the ambivalence of change, loss, and new beginnings.
		<br/><br/>
		The reality of this new setting is an apposition between the serene nature of their new life, and the dislocation from the lives, people, places, and 
		culture that they left behind; two conflicting sentiments that co-exist in a somehow beautiful, bitter-sweet relationship. Dead Light is the tension 
		between these two states, a textured and imperfect dream world.
		<br/><br/>
		Distant and reflective, yet intimate and emotive, Dead Light’s sound is characterised by a plethora of analogue artefacts ranging from tape delays (via 
		daisy chained reel to reel machines), homemade synthesisers, old Russian microphones, 1950s tube pre-amps, as well as contact mics and hydrophones.
		<br/><br/>
		It is a tender exploration of hope, escape, tension, and isolation. Rooted in traditional instrumentation and a hand made approach to effects and 
		synthesis, Dead Light’s music draws upon classical, ambient, pop and electro-acoustic influences. Waves of melancholy stretch through every track, with 
		slow, yet expressive melodies that sing from tape-looped cello motifs, and an old close-mic’d piano that Anna’s grandfather gave her, yet the feeling of 
		hope never seems to be far away.
	</div>
	<div class="col-md-5 picture">
		<%= image_tag('Cover.jpg', class: 'coverSquare') %>
		<div class="releaseInfo sans-serif small">
			<strong>Release Date - </strong>14.10.2016<br/>
			<strong>Label - </strong><a href="http://villagegreenrecording.co.uk/" target="_blank">Village Green</a><br/><br/>
			<strong>Contact - </strong>Janine(at)villagegreen(dot)tv</a>
		</div>
	</div>
	<div class="col-md-1">&nbsp;</div>
</div>
<div class="footer">
	<div class="title white serif caps medium spacedText icons">
		<i class="fa fa-twitter"></i><i class="fa fa-facebook"></i><i class="fa fa-soundcloud"></i>
	</div>
</div>