@font-face {
	font-family: 'Century Gothic';
	src: font-url('/assets/CenturyGothic.eot) %>');
	src: font-url('/assets/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/CenturyGothic.woff') format('woff'),
		font-url('/assets/CenturyGothic.ttf') format('truetype'),
		font-url('/assets/CenturyGothic.svg#CenturyGothic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Miller';
	src: font-url('/assets/Miller-Text.eot) %>');
	src: font-url('/assets/Miller-Text.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/Miller-Text.woff') format('woff'),
		font-url('/assets/Miller-Text.ttf') format('truetype'),
		font-url('/assets/Miller-Text.svg#Miller-Text') format('svg');
	font-weight: normal;
	font-style: normal;
}

.color {color:#e7bb9e;}
.italic {font-style:italic;}
.sans-serif {font-family:'Century Gothic';}
.serif {font-family:'Miller';}
.bold {font-weight:bold!important;}
.regular {font-weight:normal!important;}
.caps {text-transform:uppercase;}
.big {font-size:5em;}
.medium {font-size:2em;}
.small {font-size:1em;}
.spacedText {letter-spacing:0.06em;line-height:1.1em;}
.shadow {text-shadow: 2px 2px #31372d;}
.bg {
  background:rgba(0, 0, 0, 0.4);
  padding:0px 10px 10px 10px;
}