<div id="ajaxpage" class="container">

	<div class="project-title grid-full">
		<h4>{{artist}}</h4>
	</div>

	<div class="project-info clearfix">
		<div class="grid-full description">
			<p>{{description}}</p>
		</div><br/><br/>
	</div>

</div>