<!-- Begin Footer -->
<footer id="footer" class="clearfix">

	<div class="container">

		<!-- Social Links -->
		<ul class="social-links grid-full">
			<li><%= link_to image_tag('facebook-large.png', :alt => "facebook", :width => "36", :height => "36"), 'https://www.facebook.com/deadlightmusic' %></li>
			<li><%= link_to image_tag('twitter-large.png', :alt => "twitter", :width => "36", :height => "36"), 'https://twitter.com/deadlightmusic' %></li>
		</ul>

		<!-- Copyright Info -->
		<div class="copyright grid-full"><h6>©<%= Time.now.year %> | Dead Light. All rights reserved</h6></div>

	</div>
</footer>
<!-- End Footer -->