<nav class="">
	<div class="content container navigation">
		<h2 id="releaseHeader"><a href="#section2"><%= image_tag('logo.png', class: "logo") %></h2>
		<span class="border2"></span>
		<h3 class="subHeader">14.10.2016</h3>
	</div>
</nav>