<!-- Begin Navigation -->
<% if controller.controller_name == 'home' && controller.action_name == 'index' %>
	<nav class="">
		<div id='overlay2'></div>
		<div class="content container navigation">
			<h2 id="releaseHeader"><%= image_tag('logo.png', class: "logo") %></h2>
			<span class="border2"></span>
			<h3 class="subHeader">14.10.2016</h3>
		</div>
	
		<div id="myNav" class="overlay">
		  <a href="#" class="closebtn" onclick="return false">×</a>
		  <div class="overlay-content">
			<p>Dead Light was created after Anna Rose Carter and Ed Hamilton moved from London to a quiet, remote space in the countryside. The migration out of the sprawling metropolis to their new rural refuge was a transition that significantly impacted them both, and one that continues to turn and shift under the ambivalence of change, loss, and new beginnings. The reality of this new setting is an apposition between the serene nature of their new life, and the dislocation from the lives, people, places, and culture that they left behind; two conflicting sentiments that co-exist in a somehow beautiful, bitter-sweet relationship. Dead Light is the tension between these two states, a textured and imperfect dream world.</p><br/><p>The album will be released by <a href="http://villagegreenrecording.co.uk/" target="_blank">Village Green</a> on October 14th 2016</p>
		  </div>
		</div>
		
		<div class="circleContainer">
	
			<div class="info" onclick="openNav()"><i class="fa fa-info-circle"></i></div>
			<div class="down"><a href="#section2"><i class="fa fa-angle-double-down"></i></a></div>
			
		</div>

	
		<script>
		function openNav() {
		    document.getElementById("myNav").style.height = "100%";
		}
		</script>
	
	</nav>
<% end %>